@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>About Page!</h1>
<h4>Temp Data</h4>
@TempData["Message"]
<br />

<h4>View Bag</h4>
@ViewBag.VBData
<br />

<h4>View Data</h4>
@ViewData["VDData"]
<br />