@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome to ASP.NET Core!</h1>
<h2>This is Index Page.</h2>

<h3>Current Date and Time : @DateTime.Now</h3>
<h3>Current Date and Time : @DateTime.Now.Year</h3>

@{
    var name = "Dipak";
    var age = 22;
}

<h3>Name : @name</h3>
<h3>Name : @age</h3>